// Animate glich one(red)
@keyframes glitch-one {
  $steps: 20;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      clip: rect(
        (random(6) - random()) + rem,
        22rem,
        (random(6) - random()) + rem,
        0rem
      );
    }
  }
}

// Animate glich two(blue)
@keyframes glitch-two {
  $steps: 20;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      clip: rect(
        (random(6) - random()) + rem,
        22rem,
        (random(6) - random()) + rem,
        0rem
      );
    }
  }
}

// // Hamburger (bottom)
// @keyframes hamburger-hover-after {
//   0% {
//     top: 0.6rem;
//   }

//   100% {
//     top: 0.5rem;
//   }
// }

// // Hamburger (top)
// @keyframes hamburger-hover-before {
//   0% {
//     top: -0.6rem;
//   }

//   100% {
//     top: -0.5rem;
//   }
// }
