// Animate glich one(red)
@keyframes glitch-one {
  $steps: 20;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      clip: rect(
        (random(6) - random()) + rem,
        22rem,
        (random(6) - random()) + rem,
        0rem
      );
    }
  }
}

// Animate glich two(blue)
@keyframes glitch-two {
  $steps: 20;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      clip: rect(
        (random(6) - random()) + rem,
        22rem,
        (random(6) - random()) + rem,
        0rem
      );
    }
  }
}

// Navigation animation
@keyframes menu-animation {
  0% {
    border-radius: 10%;
    transform: translateY(-100%) scale(0.05);
  }
  30% {
    border-radius: 10%;
    transform: translateY(0%) scale(0.05);
  }
  60% {
    border-radius: 10%;
    transform: scale(0.02);
  }
  65% {
    border-radius: 10%;
    transform: scale(0.05);
  }
  90% {
    border-radius: 10%;
  }
  100% {
    transform: scale(1);
  }
}
