@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700;900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  // font-size: 62.5%; // 1rem = 10px
  font-size: calc(16px + (24 - 16) * ((100vw - 300px) / (1600 - 300)));
}

body {
  font-family: 'Rubik', sans-serif;
  font-weight: $fw-regular;
  position: relative;
}

.container {
  width: 100%;
  height: 100vh;
}

// SECTIONS
.section {
  min-height: 100vh;
  color: $clr-white;
  width: 100%;
  padding: 1.5rem;
}

// HOME
.home {
  background: radial-gradient($clr-primary, $clr-black),
    url(../img/computer_bg.jpg);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  &__title {
    margin-bottom: 0.7rem;
  }
}
// END HOME

// PORTFOLIO
.portfolio {
  background: $clr-white;
  color: $clr-black;

  &__title {
    text-transform: capitalize;
    margin-bottom: 1rem;
    text-align: center;
  }

  &__body {
    display: grid;
    grid-gap: 1rem;
    grid-row-gap: 2rem;
    grid-template-columns: repeat(
      auto-fit,
      minmax(#{'min(100%, 15rem)'}, 1fr)
    ); // Incompatible units: 'vw' and 'px' --> #{"max(1vw, 20px)"}
    justify-items: center;
    align-items: center;
  }
}
// END PORTFOLIO

// CONTACT
.contact {
  background: lighten($clr-black, $amount: 10%);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  &__title {
    text-transform: capitalize;
  }

  &__body {
    margin: auto 0;
  }
}
// END CONTACT
