// FONTS
$ff: 'Rubik', sans-serif;

$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;
$fw-black: 900;

$fs-h1: 2.8rem;
$fs-h2: 2.5rem;
$fs-h3: 2.2rem;
$fs-h4: 1.9rem;
$fs-h5: 1.6rem;
$fs-h6: 1.3rem;
$fs-p: 1rem;

// COLORS
$clr-black: #000;
$clr-white: #fff;
$clr-primary: #17b88a;
$clr-red: #ff0000;
$clr-blue: #1100ff;
$clr-green: #00ff2a;
