@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700;900&display=swap');

// FONT VARIABLES
$ff: 'Rubik', sans-serif;
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;
$fw-black: 900;
$fs-p: 1.6rem;
$fs-title: 3rem;
$fs-subtitle: 2.4rem;

$clr-black: #000;
$clr-white: #fff;
$clr-primary: #30ffc3;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  // font-size: 62.5%; // 1rem = 10px
  // font-size: calc(16px + (26 - 16) * ((100vw - 320px) / (1500 - 320)));
  scroll-behavior: smooth;
}

body {
  font-family: 'Rubik', sans-serif;
  font-weight: $fw-regular;
}

.frame {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: #000;
  background-image: url(../img/computer_bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  clip-path: polygon(
    0vw 0vh,
    0vw 100vh,
    10vw 100vh,
    10vw 10vh,
    90vw 10vh,
    90vw 90vh,
    10vw 90vh,
    10vw 100vh,
    100vw 100vh,
    100vw 0vh
  );
}

.section {
  height: 80vh;
  width: 80vw;
  margin: 10vh 10vw;
  padding: 2rem;
  position: sticky;
  top: 10vh;

  &--home {
    background-color: $clr-black;
    color: #30ffc3;
  }

  &--about {
    background-color: #00ff9e;
  }

  &--portfolio {
    background-color: #000;
  }

  &--contact {
    background-color: #00ff9e;
  }
}
